{% if filters is defined %}
  {% for key, value in filters %}
    {% if loop.first %}with {% endif %}
      <a class="btn btn-secondary btn" href="{{ path(route_name(), route_params(filters, [key]))}}" title="Remove {{ key }} filter">
        <em>{{ key|capitalize }} <strong>&quot;{{ value }}&quot;</strong></em>
        <button type="button" class="close text-light ml-2" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </a>
    {% if not loop.last %} and {% endif %}
  {% endfor %}
{% endif %}
