{% extends 'base.html.twig' %}

{% block title %}Applications{% endblock %}

{% block body %}
  <p class="lead">
    Applications
  </p>
  {% include 'dashboard/grid/application.html.twig' %}
{% endblock %}
