{% extends 'base.html.twig' %}

{% block title %}Deployer Stats{% endblock %}

{% block body %}
  <p class="lead">
    Deployer Stats
  </p>
  {% include 'dashboard/grid/deployer.html.twig' %}
{% endblock %}
