{% extends 'base.html.twig' %}

{% block title %}Deployment history{% endblock %}

{% block body %}
  <p class="lead">
    Deployment history
  </p>
  <div class="alert alert-info">
    This view contains <strong>all deployments</strong> of the applications subscribed to the tracker.
  </div>
  {% include 'dashboard/grid/deployment.html.twig' %}
{% endblock %}
