{% extends 'base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block body %}
  <div class="row">
    <div class="col col-md-4">
      <p class="lead">Deployments by Period</p>
      {% include 'dashboard/grid/period-stats.html.twig' with {stats: deploymentStats} %}
    </div>
    <div class="col col-md-4">
      <p class="lead">Deployment Statuses</p>
      {% include 'dashboard/grid/status-stats.html.twig' with {stats: deploymentStats} %}
    </div>
    <div class="col col-md-4">
      <p class="lead">Top 4 Deployers</p>
      {% include 'dashboard/grid/top-deployers.html.twig' with {deployers: topDeployers} %}
    </div>
    <div class="col col-md-4">
      <p class="lead text-success">Last Successful Deployments</p>
      {% include 'dashboard/grid/stats.html.twig' with {deployments: success, status: 'success'} %}
    </div>
    <div class="col col-md-4">
      <p class="lead text-danger">Last Failed Deployments</p>
      {% include 'dashboard/grid/stats.html.twig' with {deployments: failed, status: 'failed'} %}
    </div>
    <div class="col col-md-4">
      <p class="lead text-warning">Last Rollbacks</p>
      {% include 'dashboard/grid/stats.html.twig' with {deployments: rollback, status: 'rollback'} %}
    </div>
    <div class="col col-md-4">
      <p class="lead text-success"># Successful Deployments</p>
      {% include 'dashboard/grid/app-deploy-count.html.twig' with {items: countsSuccess, status: 'success'} %}
    </div>
    <div class="col col-md-4">
      <p class="lead text-danger"># Failed Deployments</p>
      {% include 'dashboard/grid/app-deploy-count.html.twig' with {items: countsFailed, status: 'failed'} %}
    </div>
    <div class="col col-md-4">
      <p class="lead text-warning"># Rollbacks</p>
      {% include 'dashboard/grid/app-deploy-count.html.twig' with {items: countsRollback, status: 'rollback'} %}
    </div>
  </div>
{% endblock %}
