{% extends 'base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block body %}
  <div class="row">
    <div class="col">
      <p class="lead">Applications by deployments</p>
      {% include 'dashboard/grid/app-deploy-count.html.twig' with { 'items': count } %}
    </div>
    <div class="col">
      <p class="lead">Successful deployments</p>
      {% include 'dashboard/grid/stats.html.twig' with { 'deployments': success } %}
    </div>
    <div class="col">
      <p class="lead">Failed deployments</p>
      {% include 'dashboard/grid/stats.html.twig' with { 'deployments': failed } %}
    </div>
    <div class="col">
      <p class="lead">Rollbacks</p>
      {% include 'dashboard/grid/stats.html.twig' with { 'deployments': rollback } %}
    </div>
  </div>
{% endblock %}
