{% extends 'base.html.twig' %}

{% block title %}Dashboard - Recent deployments{% endblock %}

{% block body %}
  <p class="lead">
    Recent deployments
  </p>
  <div class="alert alert-info">
    This view only shows the <strong>most recent deployment per stage</strong> for each application.
  </div>
  {% include 'dashboard/grid/deployment.html.twig' %}
{% endblock %}
