<a class="nav-link dropdown-toggle" href="#" id="applicationDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
  By Application
</a>
<div class="dropdown-menu" aria-labelledby="applicationDropdown">
  {% for application in applications %}
    <a class="dropdown-item" href="{{ path('dashboard_application', { 'id': application.id })}}">
      {{ application.name }}
    </a>
  {% endfor %}
</div>
