{% extends 'base.html.twig' %}

{% block title %}404 - Not Found{% endblock %}

{% block body %}
  <p class="lead">
    Here is nothing
  </p>

  <p>Oh noes! Either the page does not exist or I messed something up.</p>
{% endblock %}
