{% extends 'base.html.twig' %}

{% block title %}Something broke{% endblock %}

{% block body %}
  <p class="lead">
    Something broke
  </p>

  <p>Yikes! Something really bad happened and now you are seeing this page. Writing code is hard...</p>
{% endblock %}
